.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(175, 216, 248);
    display: inline-block;
    font-size: 10;
  }

.node-start {
    background-color:rgb(214, 57, 57);
}

.node-finish {
    background-color:rgb(24, 231, 110);
}

.node-wall {
    background-color: rgb(23, 23, 65);
}