.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(198, 193, 240);
    display: inline-block;
  }

.node-start {
    background-image: url("./resources/home.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;

    animation-name: fadeInAnimation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.node-finish {
    background-image: url("./resources/flag.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;

    animation-name: fadeInAnimation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.node-wall {
    outline: none;
    background-size: 95%;   
    background-color: rgb(114, 57, 151);
    animation-name: fadeInAnimation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}


@keyframes fadeInAnimation {
    0% {
        transform: scale(0.1);
    }
    50% {
        transform: scale(0.7);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        
    }
}


.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visitedAnimation {
    0% {
    transform: scale(0.3);
    background-color: rgb(151, 143, 213);
    border-radius: 100%;
    }

    50% {
    background-color: rgb(143, 205, 213);
    border-radius: 50%;
    }

    75% {
    transform: scale(1.2);
    background-color: rgb(159, 213, 143);
    border-radius: 25%;
    }

    100% {
    border-radius: 0%;
    transform: scale(1);
    background-color: rgb(213, 151, 143);
    }    
}

.node-shortest-path {
    background-color: rgb(143, 213, 151);   
    animation-name: fadeInAnimation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}