.algorithmButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#Dijkstra {
    background-color: rgb(37, 238, 228);
}

#AStar {
    background-color: rgb(160, 25, 160);
}

#Greedy {
    background-color: rgb(26, 192, 62);
}

#Swarm {
    background-color: rgb(233, 79, 18);
}